@font-face {
  font-family: "iconfont"; /* Project id 4735929 */
  src: url('//at.alicdn.com/t/c/font_4735929_vmw8hlqnzj.woff2?t=1733148697341') format('woff2'),
  url('//at.alicdn.com/t/c/font_4735929_vmw8hlqnzj.woff?t=1733148697341') format('woff'),
  url('//at.alicdn.com/t/c/font_4735929_vmw8hlqnzj.ttf?t=1733148697341') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e707";
}

.icon-shanchu1:before {
  content: "\e621";
}

.icon-gengduo:before {
  content: "\e61f";
}

.icon-more:before {
  content: "\e602";
}

.icon-jiedian:before {
  content: "\e60e";
}

.icon-shoucang:before {
  content: "\e640";
}

.icon-shujuku:before {
  content: "\e625";
}

.icon-gongju-chuangjianxiangmu:before {
  content: "\e606";
}

.icon-shujuyuan:before {
  content: "\e634";
}

.icon-mobanku-moren:before {
  content: "\e60c";
}

.icon-chuangjianxiangmu:before {
  content: "\e6e9";
}

.icon-jiedian1:before {
  content: "\e709";
}

.icon-mobanku:before {
  content: "\e664";
}

.icon-ego-menu:before {
  content: "\e605";
}

.icon-caidan:before {
  content: "\e62a";
}

.icon-baocun:before {
  content: "\e63b";
}

.icon-xinjian:before {
  content: "\e60d";
}

.icon-caidan1:before {
  content: "\e638";
}
